@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --text: #f4efff;
  --faded-text: #757575;
  --background: #24222C;
  --primary: #AB9FF2;
  --secondary: #3C315B;
  --accent: #988080;
  --gray: #454550;
  --gray-highlight: #52525d;
  
  --border-radius: 12px;
  --font: Roboto Mono;
  --container-height: 60%;

  overflow: hidden;


  font-family: var(--font) !important;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    display: none;
  }
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}
.header {font-size: 18px; font-weight: bold;}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}
  
.bottom {
  position: absolute;
  bottom: 10px;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.cursor-pointer:hover {
  cursor: pointer;
}

/* #input { */
#main-input {
  width: 50%;
}
#initial-input {
  width: 50%;

}

input[type="text"] {
  /* width: 50%; */
  color: var(--text);
  padding: 12px 16px;
  border: 0px;
  border-radius: var(--border-radius);
  background-color: var(--gray);
  font-size: 16px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
input[type="text"]::placeholder {
  font-weight: 400;
  font-style: italic;
}

textarea {
  resize: none;
  color: var(--text) !important;
  width: 50% !important;
  padding: 12px 16px !important;
  border: 0px !important;
  border-radius: var(--border-radius) !important;
  background-color: var(--gray) !important;
  font-size: 16px !important;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}
textarea::placeholder {
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* holds the tasks */
.task-list {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

/* the wrapper for each entire task */
.task-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: start;

  gap: 0;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 10px;
}
.task-container:hover {
  background-color: var(--gray-highlight);
}

/* main task on the right */
.main-task {
  flex-grow: 1;
}

/* holds the name and circle */
.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
}

/* 3 dots on the left */
.task-options {
  /* position: fixed;
  transform: translateX(-40px);
  /* width: 24px;  */
  flex: 0;
  width: auto;
  /* z-index: 10; */
}

.context-menu {
  position: fixed;
  transform: translateY(30px);
  background-color: var(--gray);
  border-radius: var(--border-radius);
  border: 1px dashed var(--accent);
  padding-inline-start: 0;
  /* z-index: 11; */
}
.menu-option {
  padding: 12px;
}
.menu-option:first-of-type {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.menu-option:last-of-type {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.menu-option:hover {
  background-color: var(--gray-highlight);
}

.due-date {
  text-indent: 2em;
  color: rgb(194, 63, 63);
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* goals */
#goal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* horizontal space */
  /*align-content: center;  vertical space between rows */
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 80px;

  width: 100vw;
  height: var(--container-height);

  overflow-y: scroll;
}

.goal {
  background-color: var(--gray);
  border-radius: var(--border-radius);
  /* width: 80vw; */
  text-align: left;
  padding: 0 20px;
  max-width: 680px;
  min-width: 320px;
  width: 25%;
  /* flex: 1; */
}

#current-goal {
  box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.9);
}

.create-goal {
  /* position: relative; */
  margin: 0;
  padding: 0;
  height: var(--container-height);
  display: flex;
  place-items: center;
  justify-content: center;
}

.no-tasks {
  text-align: center;
  color: var(--faded-text);
  font-style: italic;
}

#task-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#task-form {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 0;

  /* padding: 12px 16px; */
  border: 0px;
  border-radius: var(--border-radius);
  background-color: var(--gray);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  cursor: text;
  max-width: 770px;
  margin-bottom: 10px;
}

#task-form > div {
  width: 100%;
}

#form-row-2 {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 0 5px;
  box-sizing: border-box;
  align-items: center;
  /* margin: 10px; */
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  /* width: 50vw; */
}

#task-form-submit {
  /* width: 40px; */
  height: 100%;
  padding: 4px;
  aspect-ratio: 1;
  box-sizing: border-box;
}
#task-form-submit:focus {
  outline: none;
}
#mentions-input {
  border: none;
  outline: none;
  box-shadow: none;
}
#mentions-input:focus {
  outline: none;
}

#create-goal-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  
  border-radius: 50%;
  aspect-ratio: 1;
  /* padding: 0; */
  font-size: 20px;
  /* font-size: 30px; */
}

#create-goal-button > span {
  transform: scale(2);
  display: inline-block;
}

/*#region Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(.9);
  user-select: none;

}

/* Hide default HTML checkbox */
.checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  /* background-color: white; */
  background-color: var(--faded-text);
  -webkit-transition: .3s;
  transition: .3s;
}

.checkbox-input:checked + .slider {
  background-color: var(--primary);
}

.checkbox-input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

.checkbox-input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checked-icon, .unchecked-icon {
  position: fixed;
  color: var(--secondary);
  top: 5px;
  left: 7px;
  transition: transform 0.3s ease;
}

.checked-icon {
  transform: translateX(-2px);
}

.unchecked-icon {
  transform: translateX(24px); /* adjust this value based on layout */
}

/*#endregion Toggle Switch */


nav {
  /* background-color: var(--primary); */
  /* left: 0; */
  /* position: absolute; */
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 7px 12px;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: var(--primary);
}
.nav-link.active {
  color: var(--primary);
  font-weight: bold;
  /*? option 1 */
  /* border-bottom: 2px solid var(--primary); */ 
  /*? option 2 */
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
}